<a href="https://colab.research.google.com/github/changsin/Kaggle30Days/blob/main/insurance_claims.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Insurance Claim Data

## Setup

In [1]:
!git clone https://github.com/changsin/Kaggle30Days

Cloning into 'Kaggle30Days'...
remote: Enumerating objects: 147, done.
remote: Counting objects: 100% (147/147), done.
remote: Compressing objects: 100% (141/141), done.
remote: Total 147 (delta 81), reused 6 (delta 1), pack-reused 0
Receiving objects: 100% (147/147), 65.31 MiB | 28.52 MiB/s, done.
Resolving deltas: 100% (81/81), done.

In [3]:
DATA_ROOT = '/content/Kaggle30Days/data/insurance_claims/'

## Step 1: Import libraries

In [5]:
# Familiar imports
import numpy as np
import pandas as pd

# For ordinal encoding categorical variables, splitting data
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

# For training random forest model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

## Step 2: Load the data

In [6]:
# Load the training data
train = pd.read_csv(DATA_ROOT + "train.csv", index_col=0)
test = pd.read_csv(DATA_ROOT + "test.csv", index_col=0)

# Preview the data
train.head()

   cat0 cat1 cat2 cat3 cat4  ...    cont10    cont11    cont12    cont13    target
id                           ...
1     B    B    B    C    B  ...  0.237281  0.377873  0.322401  0.869850  8.113634
2     B    B    A    A    B  ...  0.906013  0.921701  0.261975  0.465083  8.481233
3     A    A    A    C    B  ...  0.748809  0.620126  0.541474  0.763846  8.364351
4     B    B    A    C    B  ...  0.346010  0.714610  0.540150  0.280682  8.049253
6     A    A    A    C    B  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 25 columns]

In [7]:
# Separate target from features
y = train['target']
features = train.drop(['target'], axis=1)

# Preview features
features.head()

   cat0 cat1 cat2 cat3 cat4  ...     cont9    cont10    cont11    cont12    cont13
id                           ...
1     B    B    B    C    B  ...  0.267559  0.237281  0.377873  0.322401  0.869850
2     B    B    A    A    B  ...  0.341439  0.906013  0.921701  0.261975  0.465083
3     A    A    A    C    B  ...  0.843531  0.748809  0.620126  0.541474  0.763846
4     B    B    A    C    B  ...  0.574844  0.346010  0.714610  0.540150  0.280682
6     A    A    A    C    B  ...  0.956692  1.000773  0.776742  0.625849  0.250823

[5 rows x 24 columns]

## Step 3: Prepare the data

In [8]:
# List of categorical columns
object_cols = [col for col in features.columns if 'cat' in col]

# ordinal-encode categorical columns
X = features.copy()
X_test = test.copy()
ordinal_encoder = OrdinalEncoder()
X[object_cols] = ordinal_encoder.fit_transform(features[object_cols])
X_test[object_cols] = ordinal_encoder.transform(test[object_cols])

# Preview the ordinal-encoded features
X.head()

    cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13
id                          ...
1    1.0   1.0   1.0   2.0  ...  0.237281  0.377873  0.322401  0.869850
2    1.0   1.0   0.0   0.0  ...  0.906013  0.921701  0.261975  0.465083
3    0.0   0.0   0.0   2.0  ...  0.748809  0.620126  0.541474  0.763846
4    1.0   1.0   0.0   2.0  ...  0.346010  0.714610  0.540150  0.280682
6    0.0   0.0   0.0   2.0  ...  1.000773  0.776742  0.625849  0.250823

[5 rows x 24 columns]

In [9]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=0)

# Step 4: Train

### RandomForest

In [10]:
# Define the model 
model = RandomForestRegressor(random_state=1)

# Train the model (will take about 10 minutes to run)
model.fit(X_train, y_train)
preds_valid = model.predict(X_valid)
print(mean_squared_error(y_valid, preds_valid, squared=False))

0.7374449279973148

### XGBoost

In [11]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

model_xgb = XGBRegressor(n_estimators=100, learning_rate=0.05)
model_xgb.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)
preds_xgb = model_xgb.predict(X_valid)
print(mean_squared_error(y_valid, preds_xgb, squared=False))

[01:51:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.7379910565202591

In [17]:

def train_regressor(n_estimators=100, learning_rate=0.05):
  model_xgb = XGBRegressor(n_estimators=n_estimators, learning_rate=learning_rate)
  model_xgb.fit(X_train, y_train, 
              early_stopping_rounds=5, 
              eval_set=[(X_valid, y_valid)], 
              verbose=False)
  preds_xgb = model_xgb.predict(X_valid)
  print(mean_squared_error(y_valid, preds_xgb, squared=False))

  return model_xgb

In [19]:
models = []

for est in [1000, 2000, 3000, 4000, 5000]:
  model = train_regressor(est, 0.05)
  models.append(model)

[02:36:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.7242062379086012
[02:41:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.7236793130636499
[02:46:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.7236793130636499
[02:52:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.7236793130636499
[02:57:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.7236793130636499